//480,768,1024
sm = 468px
md = 768px
lg = 1024px

body
    background: inherit

@media screen and (min-width: sm)
    body
        background: inherit
    .list__pokemons
        display: flex
        &__element
            flex-direction: column

@media screen and (min-width: md)
    body
        background: peru

@media screen and (min-width: lg)
    body
        background: skyblue

