//480,768,1024
sm = 468px
md = 768px
lg = 1024px

body
    background: inherit
input
    width: 100%
    padding: 1rem
    font-size: 1.5rem
    border: 1px solid #ccc
    border-radius: 5px
    margin-bottom: 1rem
    &:focus
        outline: none
        border-color: #333

.container
    width: 100%
    max-width: 1200px
    margin: 0 auto
    padding: 1rem



@media screen and (min-width: sm)
    body
        background: inherit

    .list__pokemons
        display: inline-block
        columns-count 1
        width: 100%
        padding: 1rem
        &__element
            list-style none
            padding: 1rem
            border: 1px solid #ccc
            border-radius: 5px
            margin-bottom: 1rem
            &:hover
                background: #f1e6e6
                cursor: pointer
                color: #333

@media screen and (min-width: md)
    body
        background: peru
    .list__pokemons
        column-count 2



@media screen and (min-width: lg)
    body
        background: skyblue
    .list__pokemons
        //display: flex
        column-count 4
        &__element
            list-style none

